ul.list li a img {
	border-radius: 15px;
	border: none;
}
ul.list {
    list-style-type: none;
    padding-inline-start: 0;
  }
li{
    padding-top: 10px;
    border-bottom: solid 1px gray;
}  
.list-container{
    background-color: lavender;
    padding-top: 90px;
}
.header{
    background-color: cornflowerblue;
    position: fixed;
    width: 100%;
    margin-top: 55px;
}

.player{
    display: flex;
    padding:8px;
    align-items: center;
}
.radio-station{
    padding: 13px;
}
.station-container{
    display:flex;
    align-items: center;
}
.station-image{
    padding: 10px;
}
.add-favorite{
    padding: 20px;
}
.favorities-container{
    width: 100%;
    display: flex;
    overflow-x: auto;
    background-color: white;
}
.favorities{
    display: flex;
    overflow-x: auto;
}
.cell{
    cursor: pointer;  
}
.cell img{
    border-radius: 15px;
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    .audio{
        width: 150px;
    }
  }